/* styles.css */

/* Font Face */
@font-face {
    font-family: 'ProFontWindows';
    src: url('Profontwindows-axBMx.ttf') format('truetype');
    /* Add additional font formats (e.g., woff, woff2) for better browser compatibility */
}

/* Global Styles */
body {
    font-family: 'ProFontWindows', Arial, sans-serif; /* Use ProFontWindows font as fallback */
    margin: 0;
    padding: 0;
}

/* Navigation Menu */
nav {
    background-color: #333;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Sections */
section {
    padding: 50px 20px;
}
section h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* Individual Project */
.project {
    margin-bottom: 30px;
}
.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.project p {
    font-size: 16px;
}
